.modal-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20;
  }
  
  .modal-container {
    position: fixed;
    background: var(--primary-text-color);
    width: 50%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: var(--primary-text-color);
    height: 50px;
  }
  
  .modal-header-title {
    margin-left: 1rem;
  }
  
  .close-icon {
    margin-right: 1rem;
    font-size: 1.4em;
    cursor: pointer;
  }
  
  .form-container {
    height: 200%;
    background-color: var(--primary-text-color);
    padding: 1rem;
  }
  
  .task-message-container {
    display: flex;
    flex-direction: column;
  }
  
  .message-input {
    width: 70%;
    padding: 0.3rem;
    font-size: 1em;
    margin-top: 0.5rem;
    outline: none;
  }
  
  .task-assign-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .assign-select {
    width: 30%;
    padding: 0.3rem;
    font-size: 1em;
    margin-top: 0.5rem;
    outline: none;
  }
  
  .task-priority-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .priority-select {
    width: 30%;
    padding: 0.3rem;
    font-size: 1em;
    margin-top: 0.5rem;
    outline: none;
  }
  
  .task-due-date-time-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 80%;
  }
  
  .task-due-date-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 37%;
  }
  
  .date-input {
    width: 100%;
    padding: 0.3rem;
    font-size: 1em;
    margin-top: 0.5rem;
    outline: none;
  }
  
  .task-due-time-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 4rem;
  }
  
  .time-input {
    width: 100%;
    padding: 0.3rem;
    font-size: 1em;
    margin-top: 0.5rem;
    outline: none;
  }
  
  .add-btn {
    float: right;
    padding: 0.5rem 1.2rem;
    background-color: var(--main-color);
    border: none;
    border-radius: 0.2rem;
    color: var(--primary-text-color);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0.2rem 1rem 0;
  }
  
  .add-task-btn:hover {
    background-color: var(--primary-text-color);
  }