.nav-bar-container {
    width: 25vw;
    height: 100%;
    background-color: var(--secondary-color);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var( --secondary-color);
  }
  
  .nav-bar-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
  }
  
  .search-icon-container {
    background-color: var( --secondary-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  
  .fa-search {
    color: var(bs-gray);
  }
  
  .search-input {
    width: 80%;
    padding: 0.5rem 1rem;
    font-size: 1em;
    border: none;
    outline: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .nav-bar-title {
    margin: 2rem 1rem 1.5rem 1rem;
    text-transform: uppercase;
  }
  
  .tasks-types-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    color: var(--primary-text-color);
  }
  
  .tasks-types-list-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
  }
  
  .tasks-types-list-item-container.selected {
    background-color: var( --secondary-color);
  }
  
  .tasks-types-list-item-container:hover {
    background-color: var( --secondary-color);
  }
  
  .nav-bar-list-icons {
    font-size: 1.5em;
    margin-right: 1rem;
  }
  